apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-local
  namespace: local-test
  labels:
    app: nginx-local
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-local
  template:
    metadata:
      labels:
        app: nginx-local
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          resources:
            limits:
              memory: "100Mi"
              cpu: "100m"
            requests:
              memory: "50Mi"
              cpu: "50m"
      volumes:
        - name: nginx-conf
          configMap:
            name: nginx-config
